* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: rgb(243, 235, 219);
    padding-top: 80px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 30px 0px;
}
img {
    width: 320px;
    height: 340px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
a{
    text-decoration: none;
}
#cuentacarrito{
    color: white;
    background-color: rgb(240, 89, 30);
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    aspect-ratio: -1;
    text-align: center;
    line-height: 20px;
    position: absolute;
}
header .a{
    position: relative;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    height: 70px;
    top: 0;
    position: fixed;
    width: 100%;
}
.scroll{
    background-color: rgba(0, 0, 0, 0.781);
    box-shadow: .1rem .2rem .3rem #333;
}
/* .scroll img{
    filter: invert(15%);
}            */
.scroll h1{
    color: #ffffff;
}
.carrito{
    width: 45px;
    height: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 20px;
}
.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(161, 140, 100);
    border-radius: 20px;
}
.card:hover{
    transform: scale(1.03);
    transition: 0.6s;
}

.informacion{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
}
.informacion>p:first-child{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.informacion .precio {
    font-size: 20px;
    font-weight: 500;
}
.informacion .precio span{
    font-size: 17px;
    font-weight: 300;
}
.informacion button{
    background-color: #52402f;
    width: 100px;
    height: 35px;
    border-radius: 10px;
    border: none;

    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
}
.informacion button:hover{
    background-color: rgb(214, 208, 179)}

footer{
    text-align: center;
}